*,
*::before,
*::after,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #efefef;
}

ul.slider {
  list-style: none;
}

li.item {
  width: 100px;
  height: 100px;
  background: #eee;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px #aaaa;
}

/* infinity slider */
.infinity-slider {
  position: relative;
}

.infinity-slide {
  position: absolute;
}
